flex-container{
    display:flex;
    flex-direction: column;
    height:100px;
    align-items:stretch;
}
body{
    background-color:#1F2937;
}
.navbar{
    background:#1F2937;
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv{
    display:flex; 
    align-items:center;
    justify-content: space-between;
}
.logo a{
    font-family:24px;
    color: #F9FAF8;
}
li{
    list-style: none;
    display:inline-block;
}
li a{
    font-size:18px;
    color:#E5E7EB;
}

h2{
    background-color:#1F2937;
    color: #E5E7EB;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
}
h4{
    background-color:#1F2937;
    font-size:18px;
    color:#E5E7EB;
}
button{
    border-radius: 6px;
    background-color: #3882F6;
    color:#ffffff;
}
.Secondbox{
    background-color:#F9FAF8;
}
